<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>观察维度</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="shortcut icon" href="../favicon.png">
	
	<link href="../../plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/teaching/watchDimensions.css" rel="stylesheet">
    <script src="../../js/common/vue.js"></script>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand" data-curcompany-id="{{curCompany.id}}"><span class="navbar-logo"></span> {{curCompany.name}}</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="header-class"></i>班级页面<b class="caret"></b>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown" ng-app="" ng-controller="">
                            <li class="media" v-for="item in classItems.classItems">
                                <a href="{{item.theme}}">
                                    <div class="media-body">
                                        <div class="text-muted" data-curorglist-id="{{item.id}}">{{item.name}}</div>
                                    </div>
                                </a>
                            </li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="header-class" id="classid" data-classid={{classItems.curClassId}}>{{classItems.curClass}}</i> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown" ng-app="" ng-controller="">
                            <li class="media" v-for="item in classItems.classItems">
                                <a href="{{item.class}}">
                                    <div class="media-body">
                                        <div class="text-muted" data-curorglist-id="{{item.id}}">{{item.name}}</div>
                                    </div>
                                </a>
                            </li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img v-bind:src="curUser.portraitId" alt="" /> 
							<span class="hidden-xs"><strong>{{curUser.userName}}</strong> <span style="color:#999">{{curUser.jobTitle}}</span></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">学校管理</a></li>
							<li class="divider"></li>
							<li><a href="{{logoutHttp}}">注销</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<div data-scrollbar="true" data-height="100%">
				<ul class="nav">
					<li>
						<a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
					</li>
                    <li class="has-sub" v-for="first in trees">
						<a href={{first.url}}>
						    <i class="fa" v-bind:class="first.iconUrl"></i>
						    <b class="caret pull-right"></b>
						    <span>{{first.description}}</span>
						</a>
						<ul class="sub-menu">
							<li class="has-sub" v-for="second in first.redisPermissionList">
								<a href={{second.url}}><b class="caret pull-right"></b>{{second.description}}</a>
								<ul class="sub-menu">
									<li v-for="third in second.redisPermissionList">
										<a href={{third.url}}>{{third.description}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->



		<!-- begin #content -->
		<div id="content" class="content">

			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right" id="breadcrumb">
				<li><a href="javascript:;">{{curCompany.name}}</a></li>
				<li><a href="javascript:;">{{classItems.curClass}}</a></li>
				<li class="active">教学管理</li>
			</ol>
			<!-- end breadcrumb -->

			<!-- begin page-header -->
			<h1 class="page-header">预设计划&nbsp;&nbsp;<small>观察维度</small></h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row" id="row">
                <div class="panel panel-inverse">
                    <div class="panel-body" >
                        <div id="wacthtree">
                            <div id="trees"></div>
                            <script type="text/html" id="trees_script">
                                <ul>
                                	{{each data as A1 i}}
                                    <li class="has-sub01" data-dimid={{A1.id}} data-type={{A1.type}} data-level={{A1.level}} data-parentid=0 >
                                        <a href="javascript:;" data-dimid={{A1.id}} data-type={{A1.type}} data-level={{A1.level}} data-parentid=0 data-name={{A1.name}} style="position:relative;">
                                            {{A1.name}}<b>></b>
                                        </a>
                                        <ul class="sub-menu01" data-dimid={{A1.id}} data-level={{A1.level+1}} data-type={{A1.type}}>
                                        	{{each A1.childDimList as B1 j}}
                                            <li class="has-sub02" data-dimid={{B1.id}}  data-parentid={{B1.parentid}} data-level={{B1.level}} data-type={{B1.type}}>
                                                <a href="javascript:;" data-dimid={{B1.id}}  data-parentid={{B1.parentid}} data-level={{B1.level}} data-type={{B1.type}} data-name={{B1.name}}>{{B1.name}}</a>
                                            </li>
                                            {{/each}}
                                            <li class="level01input">
												<input type="text" placeholder="请输入描述。。">
                                    		</li>
                                            <li class="addbtn"></li>
                                        </ul>
                                    </li>
                                    {{/each}}
                                    <li class="level01input">
										<input type="text" placeholder="请输入描述。。" data-parentid="0" data-level="0" data-type="1">
                                    </li>
                                    <li class="maxAddBtn"></li>
                                </ul>
                               </script>
                            <div id="treesbody">
                                <div id="treesmain" style="min-height:100px;margin:20px 0 10px 0;"></div>
                                <script type="text/html" id="treesmain_script">
                                	<ul class="tree-menu" data-level={{newArr[0].level}}>
                                        <li class="leftArrow"></li>
                                        {{each newArr as item i}}
                                        <li class="list" data-dimid={{item.id}} data-parentid={{item.parentid}} data-level={{item.level}} data-type={{item.type}}>
                                            <a href="javascript:;" data-dimid={{item.id}} data-parentid={{item.parentid}} data-level={{item.level}} data-type={{item.type}} data-name={{item.name}}>{{item.name}}
                                            </a>
                                        </li>
                                        {{/each}}
                                        <li class="level01input">
											<input type="text" placeholder="请输入描述。。" data-level={{newArr[0].level}} data-parentid={{newArr[0].parentid}} data-type={{newArr[0].type}}>
                                    	</li>
                                        <li class="addsmall"></li>
                                        <li class="rightArrow"></li>
                                    </ul>
                                </script>
                                <div class="treesbodytitle" style="clear:both;">
                                    <span>表现水平</span>
                                    <span class="downIcon"></span>
                                </div>
                                <div id="descTrees"></div>
                                <script type="text/html" id="descTrees_script">
                                    <ul style="width:2000px;">
                                    	{{each data[0].dimLevelList as item i}}
                                        <li class="descList">
                                            <div class="descTitle">
                                            	<span>表现水平{{i+1}}</span>
                                            	<span class="closeBtn" data-id={{item.id}} data-dimid={{item.dimid}} data-type={{item.type}}></span>
                                            </div>
                                            <ul>
                                                <li class="descContext" style="position:relative;">
                                                    <span data-id={{item.id}} data-dimid={{item.dimid}}>{{item.description}}</span>
                                                    <span>></span>
                                                    <input type="" name="" data-id={{item.id}} data-dimid={{item.dimid}} data-level={{item.level}} data-type={{item.type}} placeholder="请输入描述。。">
                                                </li>
                                            </ul>
                                        </li>
                                        {{/each}}
                                        <li class="descListlast" data-dimid={{data[0].dimid}}></li>
                                    </ul>
                                </script>
                                <div class="form-group pull-right">
                                	<!-- <button type="submit" class="btn btn-sm btn-success finalbtn" id="finalBtn">完成</button> -->
								</div>
                            </div>
                        </div>
                    </div>
            	</div> 
            </div>
            <!-- end row -->
		
		
		    <!-- begin scroll to top btn -->
		    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		    <!-- end scroll to top btn -->
	    </div> 
        <!-- end #content -->

	<ul id="menu"></ul>
    

	<script src="../../js/jquery-1.11.1.min.js"></script>
	<script src="../../plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
	<script src="../../plugins/bootstrap-3.1.1/js/bootstrap.min.js"></script>
	<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
 	<script src="../../js/apps.js"></script>
	<script src="../../js/template.js" ></script>
	<script src="../../js/common/base.js" ></script>
	<script src="../../js/teaching/watchDimensions.js"></script>
</body>
</html>
