<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>健康信息-新增</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="shortcut icon" href="../favicon.png">
    
	<link href="../../plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../../plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<style>
		.form-control.empty{
			border-color: #f97979;
		}

	</style>
	<script src="../../js/common/vue.js"></script>    
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand" data-curcompany-id="{{curCompany.id}}"><span class="navbar-logo"></span> {{curCompany.name}}</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword" />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="header-class"></i>班级页面<b class="caret"></b>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown" ng-app="" ng-controller="">
                            <li class="media" v-for="item in classItems.classItems">
                                <a href="{{item.theme}}">
                                    <div class="media-body">
                                        <div class="text-muted" data-curorglist-id="{{item.id}}">{{item.name}}</div>
                                    </div>
                                </a>
                            </li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="header-class">{{classItems.curClass}}</i> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown" ng-app="" ng-controller="">
                            <li class="media" v-for="item in classItems.classItems">
                                <a href="{{item.class}}">
                                    <div class="media-body">
                                        <div class="text-muted" data-curorglist-id="{{item.id}}">{{item.name}}</div>
                                    </div>
                                </a>
                            </li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img v-bind:src="curUser.portraitId" alt="" /> 
							<span class="hidden-xs"><strong>{{curUser.userName}}</strong> <span style="color:#999">{{curUser.jobTitle}}</span></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">学校管理</a></li>
							<li class="divider"></li>
							<li><a href="{{logoutHttp}}">注销</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<div data-scrollbar="true" data-height="100%">
				<ul class="nav">
					<li>
						<a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
					</li>
                    <li class="has-sub" v-for="first in trees">
						<a href={{first.url}}>
						    <i class="fa" v-bind:class="first.iconUrl"></i>
						    <b class="caret pull-right"></b>
						    <span>{{first.description}}</span>
						</a>
						<ul class="sub-menu">
							<li class="has-sub" v-for="second in first.redisPermissionList">
								<a href={{second.url}}><b class="caret pull-right"></b>{{second.description}}</a>
								<ul class="sub-menu">
									<li v-for="third in second.redisPermissionList">
										<a href={{third.url}}>{{third.description}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->



		<!-- begin #content -->
		<div id="content" class="content">

			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right" id="breadcrumb">
				<li><a href="javascript:;">{{curCompany.name}}</a></li>
				<li><a href="javascript:;">{{classItems.curClass}}</a></li>
				<li class="active">健康信息</li>
			</ol>
			<!-- end breadcrumb -->

			<!-- begin page-header -->
			<h1 class="page-header">健康信息&nbsp;&nbsp;<small>新增</small></h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-12 -->
			    <div class="col-md-12">
 
                    <!--begin panel -->
                    <div class="panel panel-inverse">
                    	<div class="panel-body">
                            <form class="healthinfo-form container-fluid">
                            	<h4>基本信息</h4>
                            	<div class="row">
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">班级：</label>
		                                    <div class="input">
												<select id="allClass" class="form-control"></select>
					                            <script type="text/html" id="allClass_script">
					                                {{each data as value i}}
														<option value={{value.orgId}}>{{value.orgName}}</option>
					                                {{/each}}
					                            </script>
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">姓名：</label>
		                                    <div class="input">
												<select id="classMember" class="form-control">
												</select>
					                            <script type="text/html" id="classMember_script">
					                                {{each data as value i}}
														<option value={{value.useruuid}}>{{value.userName}}</option>
					                                {{/each}}
					                            </script>
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">性别：</label>
		                                    <div class="input">
		                                        <select id="h-sex" class="form-control" disabled="disabled">
		                                            <option value="0" selected="selected">请选择</option>
		                                            <option value="1">男</option>
		                                            <option value="2">女</option>
		                                        </select>
		                                    </div>
		                                </div>
	                                </div>
	                                <div class="clearfix"></div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">出生日期：</label>
		                                    <div class="input ico-date">
		                                        <input id="h-birthday" class="form-control" type="text" readonly>
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">体检日期：</label>
		                                    <div class="input ico-date input-daterange">
		                                        <input id="createDate" class="form-control" type="text" data-date-format="yyyy-mm-dd" style="text-align: left;">
		                                    </div>    
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">年龄：</label>
		                                    <div class="input">
		                                        <input id="h-age" class="form-control reset01" type="text" readonly>
		                                    </div>
		                                </div>
	                                </div>
                            	</div>
                            	<h4>体检信息</h4>
                            	<div class="row">
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">身高(cm)：</label>
		                                    <div class="input">
		                                        <input class="form-control reset01 diagnosis" type="text" id="h-height">
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">体重(kg)：</label>
		                                    <div class="input">
		                                        <input class="form-control reset01 diagnosis" type="text" id="h-weight">
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">血色素(g/l)：</label>
		                                    <div class="input">
		                                        <input class="form-control reset01 diagnosis" type="text" id="h-hemachrome">
		                                    </div>
		                                </div>
	                                </div>
	                                <div class="clearfix"></div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">视力(左)：</label>
		                                    <div class="input">
		                                        <input class="form-control reset01 diagnosis" type="text" id="h-visionl">
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">视力(右)：</label>
		                                    <div class="input">
		                                        <input class="form-control reset01 diagnosis" type="text" id="h-visionr">
		                                    </div>
		                                </div>
	                                </div>
                            	</div>
                            	<h4>诊断结果<small class="text-danger">（诊断仅限3到6岁儿童，身高为80cm-140cm之间）</small></h4>
                            	<div class="row">
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">身高P值：</label>
		                                    <div class="input">
		                                        <input id="h-heightValue" class="form-control reset01" type="text" readonly>
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">体重P值：</label>
		                                    <div class="input">
		                                        <input id="h-weightValue" class="form-control reset01" type="text" readonly>
		                                    </div>
		                                </div>
	                                </div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">肥胖值：</label>
		                                    <div class="input">
		                                        <input id="h-fatValue" class="form-control reset01" type="text" readonly>
		                                    </div>
		                                </div>
	                                </div>
	                                <div class="clearfix"></div>
                            		<div class="col-md-3">
		                                <div class="form-group">
		                                    <label class="control-label">肥胖度判定：</label>
		                                    <div class="input">
		                                        <input id="h-fat" class="form-control reset01" type="text" readonly>
		                                    </div>
		                                </div>
	                                </div>
                            	</div>
                                
                                <div class="col-md-12">
	                                <div class="form-group">
	                                    <label class="control-label">诊断小结：</label>
                                        <div class="hf-zdxj reset01"></div>
	                                </div>
	                                <div class="form-group pull-right ">
                                        <a class="btn btn-sm btn-success" href="#modal-dialog" data-toggle="modal">取消</a>
                                        <a id="h-btnSubmit" class="btn btn-sm btn-success">保存</a>
	                                </div>
                                </div>
                            </form>
                        </div>
                        <!-- #modal-dialog -->
						<div class="modal fade" id="modal-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title">&nbsp;</h4>
									</div>
									<div class="modal-body">
										<h4 class="text-center">是否保存后再离开。</h4>
									</div>
									<div class="modal-footer">
										<a id="h-btnBack" href="javascript:;" class="btn btn-sm btn-white">离开</a>
										<a id="h-btnSubmitBack" href="javascript:;" class="btn btn-sm btn-success">保存</a>
									</div>
								</div>
							</div>
						</div>
                    </div>
            	</div>
			</div>
		
		
		    <!-- begin scroll to top btn -->
		    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		    <!-- end scroll to top btn -->
	    </div> 
        <!-- end #content -->

	<ul id="menu"></ul>
    

	<script src="../../js/jquery-1.11.1.min.js"></script>
	<script src="../../plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
	<script src="../../plugins/bootstrap-3.1.1/js/bootstrap.min.js"></script>
	<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
    

    
 	<script src="../../js/apps.js"></script>
	<script src="../../js/template.js" ></script>
	<script src="../../js/common/base.js" ></script>
	<script src="../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../../js/health/health_information_new.js"></script>
</body>
</html>
